<launch>
	<node name="node_simulation" pkg="sailboat" type="simu_sailboat" />
	<node name="node_draw_waypoint" pkg="sailboat" type="drawwaypoint" />
	<param name="boat_x" type="double" value="20" />
	<param name="boat_y" type="double" value="-20.0" />
	<param name="boat_head" type="double" value="1.0" />
	<param name="psi_wind" type="double" value="2.75" />

	<node name="node_figure_avoid" pkg="sailboat" type="figure_avoid" />
	<node name="node_avoidance" pkg="sailboat" type="avoidance" output="screen"/>
	<param name="mode_sk" type="int" value="0" />
	<param name="SKx" type="double" value="10." />
	<param name="SKy" type="double" value="10.0" />
	<param name="radius_r" type="double" value="15.0" />
	
</launch>
