<launch>
	<node name="node_simulation" pkg="sailboat" type="simu_sailboat" />
	<node name="node_draw_waypoint" pkg="sailboat" type="drawwaypoint" />
	<param name="boat_x" type="double" value="10" />
	<param name="boat_y" type="double" value="-10" />
	<param name="boat_head" type="double" value="0" />
	<param name="psi_wind" type="double" value="-1.0" />
	

	<node name="node_line" pkg="sailboat" type="line_follow" output="screen" />

	<param name="a_x" type="double" value="10" />
	<param name="a_y" type="double" value="10" />
	<param name="b_x" type="double" value="-30" />
	<param name="b_y" type="double" value="-15" /> 
	<param name="radius" type="double" value="5" />
	
</launch>
